<div *ngIf="controlBar">
  <h2>Control bar</h2>
  <div>{{controlBar.allClaimedPoints + controlBar.allStaticPoints}}
    /{{controlBar.maxAllPoints}}</div>
  <div>
    <div *ngIf="!isListEmpty(controlBar.controlValues)">
      <button (click)="flipValues()">show factions</button>
      <div *ngIf="showValues">
        <div *ngFor="let oneValue of controlBar.controlValues">
          <app-child-control-value [controlValue]="oneValue"></app-child-control-value>
        </div>
      </div>
    </div>
  </div>
</div>