<h2>My Stockpile</h2>
<!--div *ngIf="stockpile">
  <ul class="Stockpile">
    <li *ngFor="let oneElement of stockpile">
      <app-child-stockpile-element [sElement]="oneElement"></app-child-stockpile-element>
    </li>
  </ul>
</div-->
<div *ngIf="factionStockpiles">
  <app-child-faction-stockpile [factionStockpile]="factionStockpiles[0]"></app-child-faction-stockpile>
</div>
