<h2>My Settlements</h2>
<ul class="settlements">
  <li *ngFor="let settlement of settlements">
    <span class="badge">{{settlement.id}}</span> <a routerLink="/settlements/detail/{{settlement.id}}"> {{settlement.name}} </a>
  </li>
</ul>
