<!--<h2 title="this is a tooltip">My Field</h2>
<div class="field" *ngIf="field">
  <div *ngFor="let line of field.lines">
    <div *ngFor="let square2 of line.squares" style="float: left;">
      <a routerLink="/squares/detail/{{square2.id}}">
        <div *ngIf="square2.imgName" id="squareContainer">
          <img class="img-terrain" src="assets/images/{{square2.imgName}}" width="50" height="50" id="terrain">
          <img *ngIf="square2.settlement" src="assets/images/city.png" width="50" height="50" id="settlement">
        </div>
      </a>
    </div>
    <div style="clear: left;"></div>
  </div>
</div>-->

<app-child-map (squareEvent)="receiveSquareId($event)"></app-child-map>