<div>
  <h1>Districts</h1>
  <div *ngFor="let oneDistrict of districts">
    <app-child-build-district [district]="oneDistrict" 
    (buildEvent)="receiveStartCostId($event)"></app-child-build-district>
  </div>
</div>
