<div><span>name: </span>{{agent.name}}</div>
<div><span>role: </span>{{agent.role}}</div>
<div *ngIf="agent.currentWork">
  workName: {{agent.currentWork}}
</div>
<div *ngIf="showDetailLink">
  <a routerLink="/agents/detail/{{agent.id}}">details</a>
</div>