<div *ngIf="projectCost">
  <div><span>id: </span>{{projectCost.id}}</div>
  <div><span>target: </span>{{projectCost.target}}</div>
  <div><span>projectSize: </span>{{projectCost.projectSize}}</div>
  <div><span>Resource costs: </span></div>
  <div *ngFor="let oneCost of projectCost.elementCosts">
    <app-child-stockpile-element [sElement]="oneCost"></app-child-stockpile-element>
  </div>

</div>
