<div *ngIf="turnPackage" id="turnCounter">
  <div class="column" id="timeColumn">
    <div>
      Turn: {{turnPackage.turn}}
    </div>
    <div>
      next turn in: {{turnPackage.timeTill}}
    </div>
  </div>
  <div class="column" id="pauseColumn">
    <div><button (click)="togglePause()">Pause/Unpause</button></div>
    <div>paused: {{turnPackage.paused}}</div>
  </div>
</div>