#turnCounter {
    border: solid maroon;
    border-radius: 12px;
    max-width: 300px;
    background-color: lightcyan;
}

#timeColumn {
    float: left;
}

.column {
    display: block;
    padding: 8px;
}