<h2>Agents</h2>
<ul class="agents">
  <div *ngIf="agents">
    <li *ngFor="let oneAgent of agents">
      <span class="badge">{{oneAgent.id}}</span> name: {{oneAgent.name}} role: {{oneAgent.role}} 
      <a routerLink="/agents/detail/{{oneAgent.id}}">details</a>
    </li>
  </div>
</ul>
