<h3>Settlement: {{settlement.name}}</h3>
<div *ngIf="lvlValue"><span>lvl: </span>{{lvlValue.valueName}}</div>
<div><span>Max wealth: </span> {{settlement.wealthCeiling}}</div>
<div><span>Current wealth: </span> {{settlement.wealth}}</div>
<div><span>Wealth growth per turn: </span> {{settlement.wealthGrowth}}</div>
<div *ngIf="settlement.districts">
  <button (click)="flipDist()">Show districts</button>
  <div *ngIf="showDist">
    Districts:
    <div *ngFor="let oneDistrict of settlement.districts">
      <app-child-district [district]="oneDistrict"></app-child-district>
    </div>
  </div>

</div>
<div *ngIf="buildProjects">
  <button (click)="flipProg()">Show Projects</button>
  <div *ngIf="showProjectList">
    <div *ngFor="let oneProject of buildProjects">
      <div><span>ProjectId: </span> {{oneProject.id}}</div>
      <div><span>target: </span> {{oneProject.buildTarget}}</div>
      <div><span>Progress: </span> {{oneProject.progress}}/{{oneProject.finishMark}}</div>

    </div>

  </div>

</div>

<div *ngIf="square">
  <button (click)="flipLoc()">Show location</button>
  <div *ngIf="showLoc">
    <app-child-square [square]="square"></app-child-square>
  </div>
  <div *ngIf="agents">
    <li *ngFor="let oneAgent of agents">
      <app-child-agent [agent]="oneAgent" [showDetailLink]="true"></app-child-agent>
    </li>
  </div>

</div>

<app-child-control-bar [controlBar]="settlement.controlDetails"></app-child-control-bar>