<div *ngIf="faction">
  <app-child-faction [faction]="faction"></app-child-faction>
  <div *ngIf="capital">
    <h2>Faction capital:</h2>
    <app-child-settlement-basic [settlement]="capital"></app-child-settlement-basic>
  </div>
</div>
