<h3>Settlement: {{settlement.name}}</h3>
<img src="assets/images/{{settlement.imgName}}" width="50" height="50">
<div *ngIf="lvlValue"><span>lvl: </span>{{lvlValue.valueName}}</div>
<div><span>Max wealth: </span> {{settlement.wealthCeiling}}</div>
<div><span>Current wealth: </span> {{settlement.wealth}}</div>
<div><span>Wealth growth per turn: </span> {{settlement.wealthGrowth}}</div>
