<div>
  <app-child-district [district]="district"></app-child-district>
  <div *ngIf="districtCost">
    <app-child-project-cost [projectCost]="districtCost"></app-child-project-cost>
    <div *ngIf="canAfford">
      <button (click)="sendStartCostSetId()">Build</button>
    </div>
  </div>
</div>