<div *ngIf="agent">
  <div><span>Name: </span>{{agent.name}}</div>
  <div><span>Role: </span>{{agent.role}}</div>
  <div *ngIf="agent.currentWork">
    Current work: {{agent.currentWork}}
  </div>
  <div *ngIf="location">
    Location:
    <div *ngIf="location.settlement">
      <div><span>Settlement: </span>{{location.settlement.name}}</div>
      <div *ngIf="possibleWorks">
        <div *ngFor="let oneWork of possibleWorks">
          <button (click)="doAgentCommand(oneWork.id)">{{oneWork.workName}}</button>
        </div>
      </div>
      <a routerLink="/agents/build/{{agent.id}}">build commands</a>
    </div>
    <div><span>coordinates:</span>x: {{location.xcoord}}, y: {{location.ycoord}}</div>
  </div>
  <button (click)="flipMap()"> Move </button>
  <div *ngIf="showMap">
    <div *ngIf="clickSquareId">
      Square id : {{clickSquareId}}
    </div>
    <app-child-map (squareEvent)="receiveSquareId($event)"></app-child-map>
  </div>

</div>