#districtDiv {
    border: 4px solid blue;
    border-left-style: 4px solid blue;
    border-right-style: hidden;
    border-top-style: hidden;
    border-bottom: hidden;
    background-color: lightblue;
    max-width: 300px;
}