<div id="squareCont">
  <div><span>terrain: </span>{{square.terrainName}}</div>
  <div><span>
    <img class="img-terrain" src="assets/images/{{square.imgName}}" width="50" height="50" id="terrain">
  </span></div>
  <div><span>x: </span>{{square.xcoord}}</div>
  <div><span>y: </span>{{square.ycoord}}</div>
</div>