<div *ngIf="landSquare">
  <h2>{{landSquare.id}} Details</h2>
  <!--div><span>terrain: </span>{{landSquare.terrainName}}</div>
  <div><span>x: </span>{{landSquare.xcoord}}</div>
  <div><span>y: </span>{{landSquare.ycoord}}</div-->
  <app-child-square [square]="landSquare"></app-child-square>
  <div *ngIf="landSquare.settlement"><span>settlement: </span>{{landSquare.settlement.name}} <a routerLink="/settlements/detail/{{landSquare.settlement.id}}"> go to </a></div>
</div>
