<div *ngIf="factionStockpile">
  <div>
    Showing Faction:
    <app-child-faction [faction]="factionStockpile.faction"></app-child-faction>
  </div>
  <ul class="Stockpile">
    <li *ngFor="let oneElement of factionStockpile.elements">
      <app-child-stockpile-element [sElement]="oneElement"></app-child-stockpile-element>
    </li>
  </ul>
</div>
