<div *ngIf="agent">
  <h1> selected agent: {{agent.name}}</h1>
  <h1> Location</h1>
  <div *ngIf="location">
    <app-child-square [square]="location"></app-child-square>
    <div *ngIf="location.settlement">
      <app-child-settlement-basic [settlement]="location.settlement"></app-child-settlement-basic>
      <button (click)="showDistrictBuilding = flipValue(showDistrictBuilding)">show district plans</button>
      <div *ngIf="showDistrictBuilding">
        <app-build-districts [districts]="location.settlement.districts"
        (buildEvent)="receiveStartCostId($event)"></app-build-districts>
      </div>
    </div>
  </div>
</div>