<nav>
  <a routerLink="/settlements"> Settlements </a>
  <a routerLink="/squares"> Map </a>
  <a routerLink="/agents"> Agents </a>
  <a routerLink="/stockpile"> Stockpile </a>
  <a routerLink="/factions"> Factions </a>
</nav>