<h2 title="this is a tooltip">My Field</h2>
<div class="field" *ngIf="field" id="mapField">
  <div *ngFor="let line of field.lines" id="line">
    <div *ngFor="let square2 of line.squares" style="float: left;" id="square">
      <div *ngIf="square2.imgName" id="squareContainer" (click)="sendSquareId(square2.id)">
        <img class="img-terrain" src="assets/images/{{square2.imgName}}" width="50" height="50" id="terrain">
        <img *ngIf="square2.settlement" src="assets/images/{{square2.settlement.imgName}}" width="50" height="50" id="settlement"
          title="{{square2.settlement.name}}">
      </div>
    </div>
    <div style="clear: left;"></div>
  </div>
</div>
