#squareContainer {
    position:relative;
}

#settlement {
    position: absolute;
    left: 0px;
    top: 0px;
}

#mapField {
    background-color: green;
    max-width: 600px;
}

#line {
    padding: 0px;
}
